
.App {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.nav {
  margin: 70px;
  display: flex;
  justify-content: center;
}
.nav ul {
  margin: 7px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav li a{
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  margin: 10px;
  display: flex;
}

.nav li a.active { 
  padding: 6px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);}