@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.App {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.header {
  display: grid;
  column-gap: 1.25rem;
  margin: 3.5rem 4.375rem;
  grid-template-columns: repeat(12, 1fr);
}

#logo {
  grid-column: 3/5;
  justify-self: stretch;
  align-self: stretch;
  width: 12.5rem;
  height: 6.4rem;
}
.nav {
  grid-column: 5/10;
  align-self: center;
}
.nav ul {
  font-size: 1.25rem;
  font-family: "Markazi Text";
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.nav li a {
  padding: 0.375rem;
  border-radius: 0.25rem;
  text-decoration: none;
  margin: 0.5rem;
  display: flex;
}

.nav li a.active {
  color: white;
  padding: 0.375rem;
  border-radius: 0.25rem;
  background-color: #495e57;
}

#logo2 {
  width: 10.5rem;
  height: 22.3rem;
  grid-column: 3/5;
}

.footer {
  display: grid;
  column-gap: 1.25rem;
  margin: 3.5rem 4.375rem;
  grid-template-columns: repeat(12, 1fr);
}

.foot-section {
  width: auto;
  height: auto;
  grid-column: 5/9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #fbdabb;
  display: grid;
  grid: repeat(7, minmax(30px, auto)) / repeat(12, 1fr);
  column-gap: 1.25rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  height: 28.1rem;
}

.hero > h1 {
  margin: 0;
  box-shadow: 0.4rem 0.3rem 0.7rem #090909a7;
  padding: 0.5rem;
  background-color: #495e57;
  color: #edefee;
  grid-column: 3/6;
  grid-row: 2/3;
  border-radius: 0.3rem;
}

.hero > h4 {
  background-color: #face14;
  padding: 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;

  grid-column: 3/6;
  grid-row: 3/4;
}
.hero > p {
  margin-bottom: 0;
  margin-top: 1rem;
  line-height: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  grid-column: 3/7;
  grid-row: 4/5;
}
.hero > button {
  background-color: #333333;
  color: #edefee;
  border: rgb(61, 61, 61);
  border-style: solid;
  border-radius: 0.3rem;

  grid-column: 3/5;
  grid-row: 6/7;
  width: 8.3rem;
  height: 3.1rem;
  font-size: 1rem;
  box-shadow: 0.4rem 0.3rem 0.7rem #090909a7;
}

.hero > button:hover {
  background-color: #EE9972;
  color: #343434;
  border: rgb(61, 61, 61);
  border-style: solid;
  border-radius: 0.3rem;
  grid-column: 3/5;
  grid-row: 6/7;
  width: 8.3rem;
  height: 3.1rem;
  font-size: 1rem;
  box-shadow: 0.4rem 0.3rem 0.7rem #090909a7;
}

.hero > img {
  width: 35.3rem;
  height: 23.1rem;
  grid-column: 7/12;
  grid-row: 2/7;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.3rem 0.7rem #090909a7;
}

@media screen and (max-width: 560px) {
  .header {
    display: grid;
    margin: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1fr 1fr;
    column-gap: 0.25rem;
  }

  #logo {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }

  .nav {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .nav ul {
    font-size: 0.8rem;
    font-family: "Markazi Text";
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 0;
  }

  .nav li a {
    padding: 0.175rem;
    border-radius: 0.25rem;
    text-decoration: none;
    margin: 0.25rem;
    display: flex;
  }

  .nav li a.active {
    color: white;
    padding: 0.375rem;
    border-radius: 0.25rem;
    background-color: #495e57;
  }

  .footer {
    display: grid;
    column-gap: 0.25rem;
    margin: 0.5rem;
    grid-template-columns: 1fr 3fr;
  }

  #logo2 {
    width: 3.5rem;
    height: 6.3rem;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
  }

  p {
    line-height: 0.3rem;
  }
  .foot-section {
    font-size: 0.6rem;
    grid-column: 2/3;
    display: flex;

    justify-content: space-evenly;
    align-items: flex-start;
  }

  .foot-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hero {
    display: grid;
    grid: repeat(7, minmax(1rem, auto)) / repeat(4, 1fr);
    column-gap: 0.5rem;
    margin: 0;
    height: 28.1rem;
    background-image: url("/public/Mario and Adrian A.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
  }

  .hero > h1 {
    margin: 0;
    box-shadow: 0.4rem 0.3rem 0.7rem #090909a7;
    padding: 0.5rem;
    background-color: #495e57;
    color: #edefee;
    grid-column: 1/3;
    grid-row: 2/3;
    border-radius: 0.3rem;
    opacity: 0.8;
  }

  .hero > h4 {
    background-color: #face14;
    box-shadow: 0.4rem 0.3rem 0.7rem #090909a7;
    padding: 0.3rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    opacity: 0.7;

    grid-column: 1/2;
    grid-row: 3/4;
  }
  .hero > p {
    margin-top: 0.2rem;
    line-height: 1.1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    padding: 0.5rem;
    font-size: 1em;
    color: #ffffff;
    border-radius: 0.5rem;
  }

  .hero > button {
    background-color: #000000cd;
    color: #f1f1f1;
    border: rgb(61, 61, 61);
    border-style: solid;
    border-radius: 0.3rem;

    grid-column: 1/3;
    grid-row: 6/7;
    width: 7.3rem;
    height: 3.1rem;
    font-size: 0.8rem;
   
    margin-left: 0.5rem;
   
    box-shadow: 0.4rem 0.3rem 0.7rem #000000;
  }

  .hero > button:hover {
    background-color: #ee9972db;
    color: #000000;
  
    border: rgb(61, 61, 61);
    border-style: solid;
    border-radius: 0.3rem;

    grid-column: 1/3;
    grid-row: 6/7;
    width: 7.3rem;
    height: 3.1rem;
    font-size: 0.8rem;
    box-shadow: 0.4rem 0.3rem 0.7rem #090909a7;
  }

  .hero > img {
    display: none;
  }
}
